<h2>Edit existing task</h2>

<%= form_for(@task) do |task| %>
  <%= task.label :title %>
  <%= task.text_field :title %>

  <%= task.label :details %>
  <%= task.text_field :details %>

  <%= task.submit %>
<% end %>
<br>
<%= link_to "Back", :task_index, class: "btn btn-primary m-1" %>
